<h1>Listing articles</h1>
 <%= link_to 'Nuevo Artículo', new_article_path, class: 'btn btn-primary' %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

<% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article), class: 'btn-sm btn-success' %></td>
      <td><%= link_to 'Edit', edit_article_path(article), class: 'btn-sm btn-info' %></td>
      <td><%= link_to 'Destroy', article_path(article), class: 'btn-sm btn-danger',
          method: :delete,
          data: { confirm: 'Seguro?' } %></td>
    </tr>
<% end %>
</table>